body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom CSS to set text color in Jodit editor */
.jodit-wysiwyg {
  color: black !important; /* Set text color to black */
  background-color: white !important; /* Set background color to white */
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.jodit-container {
  display: block;
  position: relative;
  min-height: 200px;
  padding: 10px;
}